.footer {
    box-sizing: border-box;
    background: #111;
    padding-top: 70px;
    padding-bottom: 50px;
    width: 100%;
    display: block;
    color: #B7B7B7;
    left: 0px;
    font: 15px;

    &__container {
        width: 100%;
        padding: 0 15px;
        margin-right: auto;
        margin-left: auto;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        justify-content: center;
    }

    &__about {
        max-width: 24%;
        min-width: 350px;
        margin-bottom: 30px;

        * {
            margin: 12px 0;
        }

        .footer__logo {
            margin-top: -10px;
        }
    }

    &__widget {
        max-width: 24%;
        min-width: 350px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: -40px;

        * {
            margin: 12px 0;
        }

        b {
            margin: 0 0 20px 0;
            color: #FFF;
        }

        li a {
            color: #B7B7B7;
        }

        input {
            color: #B7B7B7;
            background-color: transparent;
            border: none;
            width: 100%;
            padding: 5px 0;
            border-bottom: 2px solid #FFF;
        }

        form {
            display: flex;
            flex-direction: row-reverse;
        }

        button {
            position: absolute;
            display: inline-block;
            transform: translateY(-20%);
            border: none;
            background: transparent;
            cursor: pointer;
        }

        i {
            color: #FFF;
        }
    }

    &__copyright {
        p {
            text-align: center;
        }

        i,a {
            color: red
        }
    }
}