* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 30px 150px;
  font-size: 18px;
  font-weight: 300;
  color: black;
}

.header__logo img {
  height: 23px;
  width: 196px;
}

.header__menu {
  display: flex;
  align-items: center;
  font-weight: bolder;
}

.header__menu a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.header__menu a:hover {
  text-decoration: underline;
  text-decoration-color: #E53637;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
}

.header__menu__item__underline {
  text-decoration: underline !important;
  text-decoration-color: #E53637 !important;
  text-underline-offset: 7px !important;
  text-decoration-thickness: 3px !important;
}

.header__menu li {
  padding: 0 30px;
}

.header__other {
  align-items: center;
  text-align: right;
  display: flex;
  font-size: 15px;
  font-weight: bold;
}

.header__other a {
  display: inline-block;
  position: relative;
}

.header__other div {
  flex: 1;
  padding: 0 12px;
  margin: 0 2px;
}

.header__other div:last-child {
  margin-left: 0;
  padding-left: 0;
}

.header__other .quantity a {
  position: relative;
}

.header__other .quantity a span {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  z-index: 1;
  font-size: 11px;
}

.header__other__user {
  display: flex;
  position: relative;
}

.header__other__user i {
  margin-top: 2px;
}

.header__other__user__username {
  margin-left: 10px;
  display: inline-block;
}

.header__other__user__submenu {
  display: none;
  padding: 0 !important;
  position: absolute;
  z-index: 1;
  bottom: 0;
  transform: translateY(100%);
  background-color: white;
  border: 1px solid black;
}

.header__other__user__submenu__dashboard {
  border: none;
  margin: 0;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 5px 10px;
  white-space: nowrap;
}

.header__other__user__submenu__dashboard:hover {
  border: none;
  background-color: black;
  color: white;
}

.header__other__user:hover>.other__user__submenu {
  display: block;
}

.header__other__user__logout {
  margin: 0;
  width: 100%;
  cursor: pointer;
  padding: 5px 10px;
  white-space: nowrap;
}

.header__other__user__logout:hover {
  color: white;
  background-color: black;
}

.header__other__login {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
}

.header__other__login a {
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  color: black;
}

.header__other__login a:hover {
  text-decoration: underline;
}