<link rel="stylesheet" href="css/footer.css">
<footer class="footer">
    <div class="footer__container">
        <div class="footer__row">
            <div class="footer__about">
                <div class="footer__logo">
                    <a href=""><img src="" alt=""></a>
                </div>
                <p>Khách hàng luôn luôn là ưu tiên hàng đầu của chúng tôi.</p>
                <div class="footer__payment">
                    <a href=""><img src=""></a>
                </div>
            </div>
            <div class="footer__widget">
                <b>MUA SẮM</b>
                <ul>
                    <li><a href="shop">Quần áo nam</a></li>
                    <li><a href="shop">Quần áo nữ</a></li>
                    <li><a href="shop">Phụ kiện</a></li>
                </ul>
            </div>
            <div class="footer__widget">
                <b>THÔNG TIN</b>
                <ul>
                    <li><a href="">Liên hệ</a></li>
                    <li><a href="">Phương thức thanh toán</a></li>
                    <li><a href="">Vân chuyển</a></li>
                    <li><a href="">Đổi trả</a></li>
                </ul>
            </div>
            <div class="footer__widget">
                <b>NHẬN THÔNG BÁO</b>
                <p>Trở thành người đầu tiên nhận được thông tin về sản phẩm mới và nhưng khuyến mãi hấp dẫn.</p>
                <form action="">
                    <input type="email" placeholder="Nhập email">
                    <button type="submit"><i class="fa fa-envelope-o" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="footer__copyright">
            <p>Được phát triển với
                <i class="fa fa-heart-o" aria-hidden="true"></i> bởi <a
                    href="https://github.com/Hoangdao192/SaleWeb">Team
                    BCD</a>
            </p>
        </div>
    </div>
</footer>