<link rel="stylesheet" href="css/header.css">
<header class="header">
    <div class="logo">
        <a href="/"><img src="img/logo.png"></a>
    </div>
    <div class="menu">
        <li><a class="menu__home" href="">Trang chủ</a></li>
        <li><a class="menu__shop" href="">Cửa hàng</a></li>
        <li><a class="menu__blog" href="">Blog</a></li>
        <li><a class="menu__contact" href="">Liên lạc</a></li>
    </div>
    <div class="other">
        <div>
            <a href="shop"><img src=""></a>
        </div>
        <div class="quantity">
            <a href=""><img src="img/cart.png"><span id="cart-product-number">0</span></a>
        </div>
        <div class="other__login">
            <a href="login">Đăng nhập</a>
        </div>
        <div class="price"></div>
    </div>
    <div id="toast">
    </div>
</header>