<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/product.css">

{{!---------------------------Poster-------------------------------------------------------------------------}}
<section id="Slider">
    <div class="aspect-ratio-169">
        <img src="img/banner/hero-1.jpg">
        <img src="img/banner/hero-2.jpg">
        <div class="hero-text">
            <h6>BỘ SƯU TẬP MÙA HÈ</h6>
            <h2>BỘ SƯU TẬP <br> MÙA ĐÔNG 2022</h2>
            <p>Phong cách là một phương thức để nói lên bạn là ai mà không khiến bạn tốn một lời.</p>
            <a class="Slider__button" href="shop">MUA NGAY<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            <div class="Slider__toolkit">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>

    <div class="dot-container">
        <div class="dot active"></div>
        <div class="dot"></div>
    </div>
</section>

{{!-------------------------Banner-----------------------------------------------------------------------}}
<section class="banner">
    <div class="banner-item">
        <div class="banner-item__first">
            <div class="banner-item-pic">
                <img src="img/banner/banner-1.jpg" alt="Banner 1">
            </div>
            <div class="banner-item-title">
                <p>Bộ Sưu Tập <br> 2022</p>
                <a href="">MUA NGAY</a>
            </div>
        </div>
    </div>
    <div class="banner-item">
        <div class="banner-item__middle">
            <div class="banner-item-pic">
                <img src="img/banner/banner-2.jpg" alt="Banner 2">
            </div>
            <div class="banner-item-title">
                <p>Phụ kiện</p>
                <a href="">MUA NGAY</a>
            </div>
        </div>
    </div>
    <div class="banner-item">
        <div class="banner-item__last">
            <div class="banner-item-pic">
                <img src="img/banner/banner-3.jpg" alt="Banner 3">
            </div>
            <div class="banner-item-title">
                <p>Đồ nữ <br> 2022</p>
                <a href="">MUA NGAY</a>
            </div>
        </div>
    </div>
</section>

{{!-------------------------Product-----------------------------------------------------------------------}}
<section class="product">
    <div class="option-product">
        <li id="best-sellers">Bán chạy nhất</li>
        <li id="new-arrivals">Hàng mới về</li>
        <li id="hot-sales">Giảm giá</li>
    </div>
    <div class="product-content">
        <div id="product-content-best-seller">
            {{#each bestSeller}}
                {{>product_thumbnail product=this}}
            {{/each}}
        </div>
        <div id="product-content-new-product">
            {{#each newProducts}}
                {{>product_thumbnail product=this}}
            {{/each}}
        </div>
        <div id="product-content-hot-sales">
            {{#each hotSale}}
                {{>product_thumbnail product=this}}
            {{/each}}
        </div>
    </div>
</section>

{{!---------------------------Sale Product-------------------------------------------------------------------------}}

<section class="sale-product">
    <div class="sale-product__category-text">
        <li>Hot</li>
        <li>Bộ sưu tập Giày</li>
        <li>Phụ kiện</li>
    </div>
    <div class="sale-product-item">
        <img src="img/product-sale.png" alt="Product Sale">
    </div>
    <div class="sale-product__category-deal-countdown">
        <p>NỔI BẬT</p><br>
        <p>Túi xách nhiều ngăn</p><br>
        <div class="sale-product__category-deal-countdown__time">
            <span id="dd">00</span> : <span id="hh">00</span> : <span id="mm">00</span> : <span id="ss">00</span>
        </div>
        <a href="">MUA NGAY</a>
    </div>
</section>

{{!-------------------------Instagram-----------------------------------------------------------------------}}

<section class="instagram">
    <div class="instagram-picture">
        <img src="img/instagram/instagram-1.jpg" alt="Instagram picture 1">
        <img src="img/instagram/instagram-2.jpg" alt="Instagram picture 2">
        <img src="img/instagram/instagram-3.jpg" alt="Instagram picture 3">
        <img src="img/instagram/instagram-4.jpg" alt="Instagram picture 4">
        <img src="img/instagram/instagram-5.jpg" alt="Instagram picture 5">
        <img src="img/instagram/instagram-6.jpg" alt="Instagram picture 6">
    </div>
    <div class="instagram-text">
        <h2>Instagram</h2>
        <h3>#Male_Fashion</h3>
    </div>
</section>

{{!-------------------------New Trends-----------------------------------------------------------------------}}

<section class="new-trends">
    <div class="new-trends-title">
        <span>THÔNG TIN MỚI NHẤT</span>
        <h2>Xu hướng thời trang</h2>
    </div>
    <div class="new-trends-list">
        <div class="new-trends-list__item">
            <img src="img/blog/blog-1.jpg" alt="blog 1">
            <div class="new-trends-list__item-text">
                <span>
                    <img src="img/icon/calendar.png" alt=""> 16 Tháng Hai 2022
                </span>
                <h5>Hãng thời trang nào đang được ưa chuộng nhất</h5>
                <a href="#">ĐỌC THÊM</a>
            </div>
        </div>
        <div class="new-trends-list__item">
            <img src="img/blog/blog-2.jpg" alt="blog 2">
            <div class="new-trends-list__item-text">
                <span>
                    <img src="img/icon/calendar.png" alt=""> 21 Tháng Hai 2022
                </span>
                <h5>Thời trang năng động</h5>
                <a href="#">ĐỌC THÊM</a>
            </div>
        </div>
        <div class="new-trends-list__item">
            <img src="img/blog/blog-3.jpg" alt="blog 3">
            <div class="new-trends-list__item-text">
                <span>
                    <img src="img/icon/calendar.png" alt=""> 6 Tháng Hai 2022
                </span>
                <h5>Lợi ích của việc đeo kính râm</h5>
                <a href="#">ĐỌC THÊM</a>
            </div>
        </div>
    </div>
</section>

<script src="javascript/home.js"></script>